/* 
  * Github @ardikaVito. Link: https://github.com/ardikaVito/Firefox-UX-Custom/blob/main/userChrome.css
  ? You can navigate "chrome://browser/content/browser.xhtml" to check the reference.  
  ? Feel free to customize
  ? FXDev -v: 108.0b5 
  ? Install Atom/VSCode 'Better Comments' Extension  for better DOCS 
*/


/** Navigator container */
/* Todo: Display oneline toolbox */
#navigator-toolbox { /* ! Fragile to modify */
  min-width: 100vw;
  display: grid !important; /* ! Do not touch */
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    'MenubarGrid .'
    'NavbarGrid TitlebarGrid'
    'PersonalToolbarGrid PersonalToolbarGrid' !important;
}

/** Menubar */
#toolbar-menubar {
  grid-area: MenubarGrid; /* ! Do not touch */
}

/* Todo: Menubar visibility */
/* Hide */
#toolbar-menubar > #menubar-items {
    width: 100vw !important;
  visibility: collapse;
}
/* Voila! Menubar appears */
#toolbar-menubar:not([inactive]) #menubar-items {
  visibility: visible !important;
  top: 0 !important;
}

/* Todo: Hide window buttonbox*/
#toolbar-menubar > .titlebar-buttonbox-container{
  /*? For information, go -> #TabsToolbar > .titlebar-buttonbox-container */
  display: none; /* <- Safe to modify */
}
/*--------------------------------------------------------------------------------------------*/

/** Navigation bar, Searchbar & Setting, etc */
#nav-bar {
  max-width: 738px; /* <- Safe to modify for display 1366px+ */
  height: 100% !important;
  grid-area: NavbarGrid; /* ! Do not touch */
  align-self: end;
  border: none !important;
}

/*--------------------------------------------------------------------------------------------*/

/** Browser tabs */
#titlebar {
  grid-area: TitlebarGrid; /* ! Do not touch */
}

/* Todo: Prevent element to over */
#TabsToolbar {
  overflow-y: hidden !important;
}

/* Todo: Remove spacer for more space */
/* .titlebar-spacer[type="post-tabs"], */  /* <- Free to uncomment. In exchange, sometimes u'll find dificult to move d window*/ 
.titlebar-spacer[type="pre-tabs"] { 
  display: none !important; /* <- Safe to modify for display 1366px+ */
}

/* Todo: Turn main buttonbox visible */
#TabsToolbar > .titlebar-buttonbox-container { /* <- Safe to modify */
  /*? You can comment this code below if u prefer close button on top of d window when u open menu bar. 
  /*? Then change (#toolbar-menubar > .titlebar-buttonbox-container) display: block; */
  visibility: visible !important; 
  margin-bottom: 0 !important;
}           

/* Todo: Manipulate direction of Toolbar */
#TabsToolbar-customization-target {
  display: flex !important; /* ! Do not touch */
}
#TabsToolbar-customization-target *:not(#tabbrowser-tabs){
  flex-grow: 0 !important; /* ! Do not touch */
}

/* Todo: Change direction */
#tabbrowser-arrowscrollbox {
  direction: rtl; /* Free modify/comment */
}
#scrollbutton-down, #scrollbutton-up {
  transform: scaleX(-1);
}

scrollbox[orient="horizontal"]:first-child, #tabbrowser-arrowscrollbox * {}
/* List all tabs*/
#alltabs-button {
  order: -1 !important; /* Free modify/comment */
}
/* Tab navigation */
#tabbrowser-tabs {
  margin-left: 0;
  flex-grow: 1 !important; /* ! Do not touch */
  order: -3 !important; /* Free modify/comment */
}
/* Newtab Button */
#tabs-newtab-button {
  display: none; /* Free modify */
  /* order: -2 !important;  */
}
#new-tab-button { /** TabsToolbar */
  display: block !important; /* Free modify/comment */
  order: -2 !important; /* Free modify/comment */
}

/** Tab */
/* Todo: Give vertical margin */
.tabbrowser-tab {
  padding-top: 2px !important; /* Safe to modify */
  padding-bottom: 2px !important; /* Safe to modify */
  direction: ltr;
}

/* Todo: Fix navigator container margin-top */
.tabbrowser-tab .tab-background { 
  margin: 0 !important; /* ! Do not touch */

  /* Todo: Glass look. No outline */ 
  outline: none !important; /* <- Safe to modify */
}

/* Todo: Interactive tab-close button | always hide close-button */
/* Hide. 
   ? Uncomment code below(.tabbrowser-tab[selected] image[class="tab-close-button close-icon"],) 
   ? to get tabbrowser look cleaner*/
.tabbrowser-tab[selected] image[class="tab-close-button close-icon"],
.tabbrowser-tab:not([selected]) image[class="tab-close-button close-icon"] {
  display: none;
}
/* Hover: Voila!*/
.tabbrowser-tab[selected]:hover image[class="tab-close-button close-icon"],
.tabbrowser-tab:not([selected]):hover image[class="tab-close-button close-icon"] {
  display: block !important;
}
/*--------------------------------------------------------------------------------------------*/

/** Personal Toolbar*/
#PersonalToolbar {
  grid-area: PersonalToolbarGrid; /* ! Do not touch */ 
}
/*--------------------------------------------------------------------------------------------*/

/** Responsive design */ 

@media screen and (max-width: 1366px) {  
  /* Todo: Maximize Browser when hover 
    ? Uncomment if u dont like */
  #titlebar:hover ~ #nav-bar {
    visibility: collapse !important;
  }
}

/* ? Happy redesign (; */
@media screen and (max-width: 1200px) {
  /* Todo: Only display selected tab */
  #scrollbutton-up, #scrollbutton-down {
    visibility: collapse;
  }
  .tabbrowser-tab:not([selected]) {
    visibility: collapse; 
  }
}

@media screen and (max-width: 1092px) {
  /* Todo: Let #nav-bar reach maximum size */
  #nav-bar {
    max-width: none;
  }

  /* Todo: Reinitialise grid template */
  #navigator-toolbox {  /* Todo: Oneliner */
    grid-template-columns: 1fr; /* ! Do not touch */
    grid-template-areas: /* ! Do not touch */
      'MenubarGrid'
      'TitlebarGrid'
      'NavbarGrid'
      'PersonalToolbarGrid' !important;
  }

  /* Todo: Only display all tabs */
  #scrollbutton-up, #scrollbutton-down {
    visibility: visible;
  }
  .tabbrowser-tab {
    visibility: visible !important;
  } 
}

@media screen and (min-width: 770px) {
  /* Todo: Initialise navbar minimun width */
  #urlbar-container {
    min-width: 520px !important;
  }
}

@media screen and (max-width: 520px) {
  /* Todo: Reinitialise nav-bar width */
  #nav-bar  {
    min-width: 100vw !important;
  }

  /* Todo: Initialise navbar minimun width */
  #urlbar-container {
    min-width: 248px !important;
  }

  /* Todo: Only display selected tab */
  #scrollbutton-up, #scrollbutton-down {
    visibility: collapse;
  }
  .tabbrowser-tab:not([selected]) {
    visibility: collapse !important;
  }
}
/*--------------------------------------------------------------------------------------------*/
/** @ardikaVito: Goodbaiii ✌️ */